.invalidText {
    color: red;
    padding: 10px;
}

.slidecontainer {
    float: right;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 6px;
    border-radius: 5px;
    background: #98FB98;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider:disabled {
    background: #bbc7bb;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #235F2D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider:disabled::-webkit-slider-thumb {
    background: black;
}